/* Header */
.site-layout-background {
  background: #fff;
}

.header-button-group {
  align-self: center;
  display: flex;
  gap: 20px;
  margin-right: 100px;
}

.header-button {
  border-radius: 5px !important;
}

.my-header {
  justify-content: space-between;
}

.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

/* sider */
.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.ant-layout-content {
  flex: 1 0 auto;
}

/* content */

.events-content {
  display: flex;
}

@media screen and (max-width: 876px) {
  .events-content {
    flex-wrap: wrap;
  }
}

.ant-list-vertical {
  flex: 0.6;
}

@media screen and (max-width: 876px) {
  .ant-list-vertical {
    flex: 1;
  }
}

.ant-picker-calendar {
  flex: 0.4;
}

@media screen and (max-width: 876px) {
  .ant-picker-calendar {
    flex: 1;
  }
}

.ant-layout {
  /* height: 100vh; */
}

/* event list */
@media screen and (max-width: 1366px) {
  .ant-list-item {
    flex-direction: column-reverse;
  }
}
