.join_modal {
  :global {
    .ant-modal-content {
      border-radius: 5px;
      h1 {
        font-size: 18px;
        margin-bottom: 0;
      }
      .ant-modal-footer {
        border-top: none;
        padding-bottom: 36px;
        padding-right: 24px;
        .modal-button {
          border-radius: 5px;
          padding: 0 36px;
        }
      }
      .join-title {
        margin-top: 20px;
        display: flex;
        gap: 20px;
        justify-content: flex-start;
        align-items: center;
      }
    }
  }
}
