.my_modal {
  max-width: 360px;
  :global {
    .ant-modal-body {
      display: flex;
      flex-direction: column;
      gap: 32px;
      .modal-others {
        .ant-form-item-control-input-content {
          display: flex;
          justify-content: space-between;
        }
      }
      .modal-footer {
        .ant-form-item-control-input-content {
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          .modal-button {
            font-weight: bold;
          }
          .google-login-button {
            background-color: orangered;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
        p {
          margin-top: 10px;
          align-self: center;
        }
      }
      .ant-form {
        .ant-form-item-control-input-content {
          display: flex;
          flex-direction: column;
          .modal-button {
            font-weight: bold;
          }
        }
      }
    }
  }
}
