.my_content {
  min-height: 100vh;
  display: flex;
  :global {
    .ant-layout-content {
      min-height: 100vh;
      .events-content {
        display: flex;
        padding: 15px;
        align-items: flex-start;
        justify-content: space-between;
        gap: 20px;
        background-color: #fff;
        .ant-list-vertical {
          flex: 0.6;
        }
        @media screen and (max-width: 960px) {
          .ant-list-vertical {
            flex: 1;
          }
        }
        @media screen and (max-width: 1366px) {
          .ant-list-item {
            flex-direction: column-reverse;
          }
        }
        .ant-picker-calendar {
          flex: 0.4;
        }
        @media screen and (max-width: 960px) {
          .ant-picker-calendar {
            flex: 1;
          }
        }
      }
      @media screen and (max-width: 960px) {
        .events-content {
          flex: 1;
          flex-wrap: wrap;
          gap: 50px;
        }
      }
      .create-event {
        background-color: #fff;
        display: flex;
        flex: 1;
        flex-direction: column;
      }
      .create-event h1 {
        align-self: center;
        margin: 30px 0;
        font-size: 36px;
      }

      .ant-form-item .ant-col-14 {
        max-width: 76%;
      }

      .create-button .ant-form-item-label label {
        display: none;
      }
      .event-detail {
        width: 100%;
        padding: 0 100px;
      }
    }
  }
}
