/* Header */
.site-layout-background {
  background: #fff;
}

.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

/* sider */
.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.ant-layout-content {
  flex: 1 0 auto;
}

.events-content {
  display: flex;
}

.ant-list {
}

.ant-picker-calendar {
  flex: 0.4 1 auto;
}
