.my_comments {
  align-self: flex-start;
  padding: 10px;
  width: 100%;
  :global {
    .ant-list-item {
      display: flex;
    }
    .comments-background {
      background-color: #fff;
    }
  }
}
