@use "../../themes/colors";

.rate_modal {
  :global {
    .ant-modal-content {
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .ant-modal-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 10px;
        h1 {
          font-size: 22px;
        }
      }
      .ant-modal-footer {
        border-top: none;
        margin-bottom: 20px;
        .ant-btn {
          background-color: colors.$themecolor-main;
          padding: 0 48px;
          border: 0;
          border-radius: 5px;
        }
      }
    }
  }
}

.join_modal {
  :global {
    .ant-modal-content {
      border-radius: 5px;
      h1 {
        font-size: 18px;
        margin-bottom: 0;
      }
      .ant-modal-footer {
        border-top: none;
        padding-bottom: 36px;
        padding-right: 24px;
        .modal-button {
          border-radius: 5px;
          padding: 0 36px;
        }
      }
      .join-title {
        margin-top: 20px;
        display: flex;
        gap: 20px;
        justify-content: flex-start;
        align-items: center;
      }
    }
  }
}

.basic_modal {
  max-width: 360px;
  :global {
    .ant-modal-content {
      border-radius: 5px;
      .ant-modal-header {
        border-radius: 5px 5px 0 0;
      }
      .ant-modal-body {
        display: flex;
        flex-direction: column;
        gap: 32px;
        .modal-others {
          .ant-form-item-control-input-content {
            display: flex;
            justify-content: space-between;
          }
          .login-forget {
            color: blue;
            text-decoration: underline;
            &:hover {
              cursor: pointer;
            }
          }
        }
        .modal-button {
          font-weight: bold;
          border-radius: 5px;
        }
        .modal-footer {
          .ant-form-item-control-input-content {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            .google-login-button {
              background-color: orangered;
              border: none;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
          p {
            margin-top: 10px;
            align-self: center;
          }
        }
        .ant-form {
          .ant-form-item-control-input-content {
            display: flex;
            flex-direction: column;
            .modal-button {
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}
