@use "../../uiThemes/colors";
.my_comments {
  align-self: flex-start;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  background-color: colors.$greycolor-light;
  :global {
    .ant-list-items {
      padding: 20px;
      .ant-list-item {
        padding-bottom: 20px;
        .ant-list-item-meta-content {
          display: flex;
          gap: 10px;
        }
      }
    }
  }
}
