@use "../colors";

.my_event_card {
  :global {
    flex: 0 1 80%;
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    align-items: start;
    .card-section {
      border-radius: 5px;
    }
    .card-title {
      grid-column: 1 / span 2;
      grid-row: 1;
      background-color: colors.$greycolor-light;
      display: flex;
      flex-direction: column;
      .info-group {
        border-radius: 5px 5px 0 0;
        flex: 0.8;
        background-image: url("../../../../public/img/background-universe.JPG");
        padding-left: 15px;
        padding-top: 80px;
        h1 {
          font-size: 20px;
          color: #fff;
        }
        p {
          color: #fff;
        }
      }
      .button-group {
        flex: 0.2;
        display: flex;
        justify-content: space-between;
        padding: 5px 10px;
        .card-button {
          border-radius: 5px;
          background-color: colors.$themecolor-main;
          border: none;
        }
      }
      @media screen and (max-width: 760px) {
        .button-group {
          flex-direction: column;
          gap: 10px;
          align-items: flex-end;
        }
      }
      @media screen and (max-width: 760px) {
        .card-button {
          width: 120px;
        }
      }
    }
    .card-host {
      align-self: start;
      grid-column: 3;
      grid-row: 1;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      .title {
        height: 60px;
        background-color: colors.$themecolor-main;
        border-radius: 5px 5px 0 0;
        text-align: center;
        padding: 16px 0;
        font-weight: bold;
        color: #fff;
        font-size: 18px;
      }
      .host-info {
        display: flex;
        align-items: center;
        padding: 10px;
        height: 100px;
        img {
          height: 80px;
          width: 80px;
        }
        .host-name {
          margin-left: 15px;
          position: relative;
        }
        .host-name::after {
          content: "Host";
          background-color: colors.$themecolor-main;
          color: colors.$greycolor-light;
          font-size: 12px;
          display: inline-block;
          padding: 1px 5px;
          position: absolute;
          left: 120px;
          bottom: 20px;
        }
      }
    }
    .card-detail {
      grid-column: 1 / span 2;
      grid-row: 2 / span 2;
      background-color: colors.$greycolor-light;
      display: flex;
      flex-direction: column;
      .event-card-detail {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 10px 10px;
        gap: 10px;
      }
      .event-icon {
        color: colors.$themecolor-main;
      }
      .event-description {
        border-bottom: 1px solid colors.$greycolor-dark;
      }
      .event-time {
        border-bottom: 1px solid colors.$greycolor-dark;
      }
      .event-participant {
        flex-direction: column;
        align-items: flex-start;
        .participant-avatar {
          display: flex;
          gap: 15px;
          flex: 1 1 auto;
          align-items: center;
          flex-wrap: wrap;
          .see-more {
            margin-left: 20px;
          }
        }
      }
    }
    .card-chat {
      grid-column: 1 / span 2;
      grid-row: 4 / span 2;
      background-color: colors.$greycolor-light;
      display: flex;
      flex-direction: column;
      .chat-detail {
        padding-left: 5px;
        display: flex;
        flex-direction: column;
        .load-more-button {
          align-self: center;
          .ant-btn {
            border-radius: 5px;
            background-color: colors.$themecolor-main;
            border: none;
          }
        }
      }
      .chat-title {
        padding: 5px 0;
        text-align: center;
        color: colors.$greycolor-light;
        background-color: colors.$themecolor-main;
        border-radius: 5px 5px 0 0;
      }
      .chat-number {
        padding-top: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid colors.$greycolor-dark;
        margin-bottom: 15px;
      }
      .comment-li {
        display: flex;
        list-style-type: none;
        .comment-detail {
          margin-left: 10px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          .comment-meta {
            display: flex;
            align-self: center;
            .comment-time {
              margin-left: 10px;
              color: colors.$greycolor-dark;
              margin-bottom: 0;
            }
            .comment-name {
              margin-bottom: 5px;
            }
          }
        }
      }
    }
  }
}
