@use "../../themes/colors";
.my_comments {
  display: flex;
  border-radius: 5px;
  padding: 10px;
  flex: 1 1 100vw;
  background-color: colors.$greycolor-light;
  :global {
    .comments {
      flex: 1 0 auto;
      padding: 20px;
      width: 100px;
      .ant-list {
        flex: 1 1 auto;
        max-width: 100%;
        .ant-list-items {
          display: flex;
          flex-direction: column;
          flex: 1 0 auto;
          align-content: flex-start;
          .ant-list-item {
            flex: 1 0 auto;
            display: flex;
            flex-direction: column;
            padding-bottom: 20px;
            align-items: flex-start;
            .ant-list-item-meta-content {
              display: flex;
              gap: 10px;
              width: 100%;
            }
            .item-content {
              max-width: 100%;
              overflow-wrap: break-word;
            }
          }
        }
      }
    }
  }
}
